<div class="col-md-6 offset-md-3">
    <h3 class="mt-4">Create Teacher</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group mt-2">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="teacher.firstName" name="firstName"/>
        </div>
        <div class="form-group mt-2">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="teacher.lastName" name="lastName"/>
        </div>
        <div class="form-group mt-2">
            <label>Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="teacher.email" name="email"/>
        </div>
        <div class="form-group mt-2">
            <label>Teacher Subjects:</label>
            <div class="badge badge-secondary" (click)="removeSubject(subject.key)" class="mt-1" style="margin-left:12px" *ngFor="let subject of teacherSubjects | keyvalue">
                <button type="button" class="btn btn-primary">
                    {{subject.value.subjectName}} <span class="badge badge-light">Grade: {{subject.value.grade}}</span>
                </button>
            </div>
        </div>
        <div class="form-group mt-2">
            <label>Subjects:</label>
            <select (change)="addSubject($event.target.value)" name="subjects" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option  value="{{subject.key}}" *ngFor="let subject of subjects | keyvalue">
                    Name: {{subject.value.subjectName}}, Grade: {{subject.value.grade}}
                </option>
            </select>        
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>
