<div class="col-md-6 offset-md-3">
    <h3 class="mt-4">Login</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group mt-2">
            <label>Username</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="username" name="username"/>
        </div>
        <div class="form-group mt-2">
            <label>Password</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="password" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
        <p class="mt-4" style="color:rgb(57, 106, 241)">No account? Sign Up Here.</p>
    </form>
</div>
